.USerImage{
    width: 30%;
    height: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    margin-left: 2%;
}

.UserDetails{
    position: absolute;
    width: 60%;
    right: 1%;
    height: 50%;
    top: 1%;
    background: transparent;
    border-radius: 10px;
    border-top: 1px solid #cdcdcd20;
    border-bottom: 1px solid #cdcdcd20;
    margin-top: 0.5rem;
}
.UserName{
    text-align: left;
    font-size: 16px;
    padding: 1%;
}

.UserOptions{
    top: auto;
    bottom: 0;
    height: 50px;
    display: inline-flex;
}

.OptinHolder{
    position: relative;
    display: inline-flex;
}

.OptButton{
    width: 180px;
    height: 35px;
    background: forestgreen;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

@media screen and (max-width:800px) {

    .USerImage{
        width: 100%;
        height: auto;
    }
    
    .UserDetails{
        position: relative;
        width: 100%;
        height: 50%;
        top: 1%;
        border-top: 1px solid #cdcdcd20;
        border-bottom: 1px solid #cdcdcd20;
        background: transparent;
    }
    
    .UserName{
        text-align: left;
        font-size: 16px;
    }

    #VerifyNow{
        color: blue;
    }

    .OptinHolder{
        position: relative;
        display: inline-flex;
    }
    
    .OptButton{
        width: 120px;
        height: 35px;
        background: forestgreen;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }

}