.Button{
    display: inline-flex;
}

.Btntitles{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5rem;
    margin-right: auto;
    font-size: 20px;
}

.PolicyDiv{
    position: absolute;
    height: 100px;
    bottom: 0;
    top: auto;
    background:transparent;
    border-top: 1px solid #cdcdcd30;
}

.Policy{
    font-size: 20px;
    text-align: left;
    margin-left: 1rem;
    color: #cdcdcd90;
}

.SideIcons{
    margin-right: 1rem;
}

@media screen and (max-width:800px) {

    .Button{
        display: inline-flex;
    }
    
    .Btntitles{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0.5rem;
        margin-right: auto;
        font-size: 10px;
    }
    
    .PolicyDiv{
        position: absolute;
        height:100px;
        bottom: 0;
        top: auto;
        background:transparent;
        border-top: 1px solid #cdcdcd30;
        display: none;
    }
    
    .Policy{
        font-size: 20px;
        text-align: left;
        margin-left: 1rem;
        color: #cdcdcd90;
    }
    
    .SideIcons{
        margin-right: 1rem;
        display: none;
    }

}